@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Order>

@{
    ViewData["Title"] = "Your Orders";
}

<div class="text-center">
    @if (Model.Any())
    {
        <div class="container mt-4">
            <h1 class="text-start">Orders</h1>
            <div class="row gy-3">
                @foreach (var order in Model)
                {
                    <div class="col-md-6 col-lg-4">
                        <a asp-controller="Order" asp-action="Details" asp-route-id="@order.Id"
                           class="text-decoration-none">

                            <input type="hidden" name="orderId" value="@order.Id"/>

                            <div class="card shadow-sm text-start">
                                <div class="card-body">
                                    <h5 class="card-title">Order #@order.Id</h5>
                                    <p class="card-text">
                                        <strong>Customer ID:</strong> @order.CustomerId<br/>
                                        <strong>Total:</strong> $@order.Total<br/>
                                        <strong>Status:</strong> @order.Status.ToString()<br/>
                                        <strong>Payment status: </strong>@order.OrderPaymentStatus<br/>
                                        <strong>Returned status: </strong>@order.OrderPaymentStatus<br/>
                                        <strong>Shipping address:</strong> @order.ShippingAddress<br/>
                                    </p>
                                    <p class="text-muted">
                                        <strong>Shipping at:</strong>
                                        @if (order.ShippedAt.HasValue)
                                        {
                                            @order.ShippedAt.Value.ToString("yyyy-MM-dd HH:mm")
                                        }
                                        else
                                        {
                                            <span class="text-warning">Awaiting shipment</span>
                                        }
                                        <br/>
                                        Created on: @order.CreatedAt.ToString("yyyy-MM-dd HH:mm")
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <h2>Your Orders</h2>
        <p class="mt-5">Your orders are empty. Start shopping!</p>
        <p>
            <a asp-controller="Product" asp-action="ProductsPage" class="btn btn-primary m-3">Shopping now</a>
        </p>
    }
</div>
