@model IEnumerable<Product>

@{
    ViewData["Title"] = "All Products";
}

<h2>All Products</h2>

<p>
    <a asp-controller="Product" class="btn btn-primary mb-3">Add New Product</a>
</p>

<div class="row">
  
    @foreach (Product prod in Model)
    {
        <div class="col-md-4">
            <form asp-controller="Product" method="post">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top fixed-image-height" src="@Url.Content("~/images/" + prod.ImageUrl)"
                         alt="@prod.Description">

                    <div class="card-body">
                        <h5 class="card-title">@prod.Name</h5>
                        <p class="card-text">@prod.Description</p>
                        <p class="card-text">$@prod.Price</p>
                        <p class="card-text"> Quantity in Stock: @prod.Stock</p>
                    </div>
                </div>
            </form>
        </div>
    }
</div>