@model IEnumerable<Product>

@{
    ViewData["Title"] = "All Products";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>All Products</h2>
    <a asp-controller="Product" asp-action="AddEdit" class="btn btn-primary">Add New Product</a>
</div>

<div class="row">
  
    @foreach (Product prod in Model)
    {
        <div class="col-md-4">
            <form asp-controller="Product" method="post">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top fixed-image-height" src="@Url.Content("~/images/" + prod.ImageUrl)"
                         alt="@prod.Description">

                    <div class="card-body">
                        <h5 class="card-title">@prod.Name</h5>
                        <p class="card-text">@prod.Description</p>
                        <p class="card-text">$@prod.Price</p>
                        <p class="card-text"> Quantity in Stock: @prod.Stock</p>
                        <a class="btn btn-info" asp-controller="Product" asp-action="AddEdit"
                           asp-route-id="@prod.Id"><i class="bi bi-pencil-fill">Edit</i> </a>
                    </div>
                </div>
            </form>
        </div>
    }
</div>