@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home";
}


<div>
    <img class="card-img-top mb-md-3" src="@Url.Content("~/images/home_img.jpg")"
         alt="Magazine Home Image">
    
    <div class="text-start">
        <h3 class="h3">Most popular products</h3>
        <br/>
        <div class="row">
            @foreach (Product prod in Model)
            {
                <div class="col-md-6 col-lg-4 mb-3">
                    <form asp-controller="Product" method="post">
                        <div class="card" style="width: 18rem;">
                            <a asp-controller="Product" asp-action="Details" asp-route-id="@prod.Id">
                                <img class="card-img-top fixed-image-height" src="@Url.Content("~/images/" + prod.ImageUrl)"
                                     alt="@prod.Description">
                            </a>

                            <div class="card-body">
                                <h5 class="card-title">@prod.Name</h5>
                                <p class="card-text">@prod.Description</p>
                                <p class="card-text">$@prod.Price</p>
                                <p class="card-text"> Quantity in Stock: @prod.Stock</p>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div>

        <p>
            <a asp-controller="Product" asp-action="ProductsPage" class="btn btn-primary m-3">See all Products</a>
        </p>
    </div>
</div>